html {
    background-color: white;
    font-family: Helvetica;
    font-size: 10pt;
    width: 100%;
    height: 100%;
}

body {
    width: 90%;
    height: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 1em;
}

#events {
    height: 100%;
}

[v-cloak] {
    display: none;
}

#completed-div, #log-div {
    width: 100%;
    height: 40%;
    margin-bottom: 1em;
    overflow: auto;
    border: 1px solid #DDDDDD;
    box-shadow: 2px 2px 2px #DDDDDD;
}

#completed-table, #log-table  {
    width: 100%;
}

/*#buttons {*/
    /*position: absolute;*/
    /*bottom: 0px;*/
    /*width: 100%;*/
/*}*/

/*#completed-tip {*/
    /*position: absolute;*/
    /*background-color: #fafad2;*/
    /*border: 1px gray solid;*/
    /*border-radius: 10px;*/
    /*bottom: 40px;*/
    /*left: 20px;*/
    /*right: 20px;*/
    /*padding: 5px;*/
/*}*/

tr:nth-child(even) {
    background: #FFF;
}

tr:nth-child(odd) {
    background: #EEE;
}

td {
    vertical-align: top;
}

.center {
    text-align: center;
}