body {
    background-color: white;
    font-family: Helvetica;
    font-size: 10pt;
    line-height: 2em;
    width: 90%;
    height: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 1em;
}

div {
    border: 1px solid #DDDDDD;
    box-shadow: 2px 2px 2px #DDDDDD;
    padding: 1em;
}